#about {
  background-color: #d6d2d1;
}
  
  .app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    font-size: 1.2rem;
    padding: 6rem 2rem 0rem;
  
    @media screen and (min-width: 2000px) {
      padding-top: 8rem;
    }
  
    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }
  
    @media screen and (max-width: 450px) {
      padding: 6rem 1rem 2rem;
    }
  }
  
  .app__header-info {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    background-color: whitesmoke;
    box-shadow: 2px 2px 20px rgba(6, 5, 5, 0.353);
    border-radius: 2rem;
    padding: 2rem;

    .app__header-container1{
      text-align: center;
      margin-bottom: 1rem;
    }

    .app__header-list{
      list-style: none;


      
    }

    
  
    @media screen and (min-width: 1200px) {
      width: 100%;
      margin: 1rem;
    }
  }
  
  .app__header-badge {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  
    .badge-cmp,
    .tag-cmp {
      padding: 1rem 2rem;
      background: var(--white-color);
      border-radius: 15px;
      flex-direction: row;
      width: auto;
  
      box-shadow: 2px 2px 20px rgba(6, 5, 5, 0.353);
    }
  
    .tag-cmp {
      flex-direction: column;
      margin-top: 3rem;
  
      p {
        width: 100%;
        text-transform: uppercase;
        text-align: right;
      }
    }
  
    span {
      font-size: 2.5rem;
  
      @media screen and (min-width: 2000px) {
        font-size: 5rem;
      }
    }
  
    @media screen and (max-width: 1200px) {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }
  
  .app__header-circles {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    margin-left: 1rem;
  
    div {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: var(--white-color);
      box-shadow: 2px 2px 20px rgba(6, 5, 5, 0.353);
  
      img {
        width: 60%;
        height: 60%;
      }
    }
  
    // circles with different height & width
  
    div:nth-child(1) {
      width: 100px;
      height: 100px;
    }
  
    div:nth-child(2) {
      margin: 1.75rem;
      width: 150px;
      height: 150px;
    }
  
    div:nth-child(3) {
      width: 70px;
      height: 70px;
    }
  
    @media screen and (min-width: 2000px) {
      div:nth-child(2) {
        width: 400px;
        height: 400px;
      }
  
      div:nth-child(3) {
        width: 170px;
        height: 170px;
      }
  
      div:nth-child(1) {
        width: 200px;
        height: 200px;
      }
    }
  
    @media screen and (max-width: 1200px) {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 0;
  
      div {
        margin: 1rem;
      }
    }
  }
  
  .app__header-img {
    flex: 1;
    height: 100%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.846);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
  
    img {
      width: 100%;
      object-fit: contain;
      z-index: 1;
    }
  
    .overlay_circle {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      height: 90%;
    }
  
    @media screen and (max-width: 1200px) {
      margin: 2rem 0;
    }
  }

.belief__container{
  text-align: center;
  font-weight: 400;
  font-size: larger;
}

.list_emphasis{
  color: darkblue;
  font-weight: 900;
  font-size: x-large;
}
